.stream_area{
    background-color: #000000;
    padding-top:3rem;
    padding-bottom: 13rem;
}
.stream__heading h1{
    font-size: 5.4rem;
    font-weight: 400;
    font-family: 'Baguede';
    color: #FFFFFF;
    position: relative;
}
.stream__heading h1::after {
    position: absolute;
    content: "";
    width: 22.2rem;
    height: .4rem;
    background: #ffffff;
    left: 0;
    top: 0 rem;
    bottom: -2.5rem;
}
.stream_passes_desc_filter{
    margin-top: 7.25rem;
    margin-bottom: 7.9rem;
    /* display: flex;
    justify-content: space-between; */
}
.stream_desc p{
    font-size: 2.4rem;
    /* max-width: 101.6rem; */
    color: #fff;
    font-weight: 400;
}
.stream_filters{
    display: flex;
    padding: 1.8rem 3.2rem;
    justify-content: space-between;
    border: 0.025rem solid #707070;
}
.stream_filters button{
    font-size: 1.7rem;
    color: #fff;
    font-family: "Baguede";
    font-weight: 400;
    background: transparent;
    border: none;
    padding: 1.8rem 3.2rem;
    margin-right: 3.2rem;
    display: inline-block;
}
.stream_filters button:last-child{
    margin-right: 0rem;
}
.stream_filters button.active{
    background-color: #919A57;
}